*{
    padding:0;
    margin:0;
    box-sizing:border-box;
}

:root{
  --floral-white: #fffcf2ff;
  --timberwolf: #ccc5b9ff;
  --black-olive: #403d39ff;
  --eerie-black: #252422ff;
  --flame: #eb5e28ff;
}
.price-tag{
  position: absolute;
  top:3px;
  right:3px;
  background-color:var(--flame);
  color: var(--floral-white);
  padding: 7px 20px;
  border-radius: 5px;
  font-weight: 600;
}
.footer-text{
  color:var(--timberwolf)
}
.author{
  font-style: italic;
}
nav{
  background-color: var(--eerie-black);
}
.nav-link{
  color:var(--timberwolf);
  font-weight: 600;
}
h2{
    color:var(--flame);
    font-weight: 800
}
body{
    background-color: var(--black-olive);
}
footer{
    color:black;
    font-weight: 600;
}
.movie-wrapper{
    object-fit:contain
}

.img-card-container{
    width:100%;
    height:100%;
    overflow:hidden;
 }

 img{
    width:100%;
    height: 100%;
    
    display:block;
    line-height: 300px;
    overflow:hidden
}

.fa-solid.fa-star{
    color:rgb(231, 231, 48)
 }
 .flip-card {
  background-color: transparent;
  width: 100%;
  height: 500px;
  perspective: 1000px;
}
.flip-card:hover{
    cursor:pointer;
}
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height:100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.flip-card-front {
  background-color: black;
  color: white;
  background-position: center;
  background-size: contain;
}
.flip-card-back {
  background-color: black;
  color: white;
  transform: rotateY(180deg);
  overflow-y: auto;
}

.plot{
    height: auto;
    text-align: center;
    margin:0;
}
.card-description{
    padding: 0 20px;
    overflow-y: auto;
}